body{
    background-image: linear-gradient(-95deg, #4c91be, #20a77e);
}

.fightarea {
    display: flex;
    gap: 20px;
}

#char, #monster{
    flex: 1;
}

.lifebar{
    height: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

.bar{
    height: inherit;
    background-color: #f00;
    border-radius: 5px;
}

.log{
    border: 2px dotted #999;
    height: 200px;
    overflow-y:scroll ;
    position: relative;
    top: 170px;
}



